@media (max-width: 500px) {
    #cards-container,#lineup-match , #title {
        margin-top: 8%;
      }
    #match-card, #lineup-match {
        min-width: 10em ;
        max-width: 20em;
        max-height: 20em;
    }
  }