@media (width <= 768px) {
    #container {
        padding-bottom: 4rem;
    }

    #main-menu {
        position: sticky;
        top: 0;
        z-index: 99;
    }

    #lineup-match {
        margin-top: 8%;
        font-size: 13px;
        min-width: 10rem;
        max-width: 40rem;
        max-height: 100rem;
    }

    #lineups-container {
        max-width: fit-content;
    }

    #nav-baseball, #nav-hockey, #nav-basketball, #nav-soccer{
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: #201815;
        max-width: fit-content;
    }

    .navbar-nav {
        max-width: 6rem;
        margin: auto;
    }

    /* OPTION MENU */
    ul {
        padding-left: 0 !important;
        margin: auto;
    }

    #option-menu {
        background-color: #f9f9fb;
        bottom: 0;
        position: fixed;
        z-index: 1030;
    }
    
    #option-menu li.active span {
        color: #201815;
    }

    #option-menu li.active p {
        text-decoration: none;
        color: #201815;
    }

    #home-text, 
    #news-text,
    #schedule-text, 
    #highlights-text, 
    #refresh-text {
        font-family: Roboto, sans-serif;
    }

    #container-menu-news, 
    #container-menu-schedule, 
    #container-menu-home, 
    #container-menu-highlights, 
    #container-menu-refresh {
    cursor: pointer;
    color: #20181580;
    }

    #cards-container {
        margin-top: 1.2rem;
    }

    #title {
        margin-top: 5rem;
    }

    #title-img {
        width: 100%;
        margin: auto;
    }

    #match-card {
        max-height: 20rem;
        max-width: 20rem;
        min-width: 10rem;
    }

    #match-card-schedule{
        max-height: 14rem;
        max-width: 21rem;
        min-width: 12rem;
    }

    #news-span {
        z-index: 0;
        position: relative;
      }
      
    #news-container article {
        margin-top: 0;
      }

    #news-container{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
    }

    #news-div {
        min-width:100%;
        margin-bottom: 10px;
        max-width: 20rem;
        font-family: Roboto, sans-serif;
    }
      
    #img-news {
        min-height: 12rem;
        max-height: 15rem;
    }
      
    #title-news {
        color: inherit;
        text-decoration: none;
    }

    #card-img-hightlights {
        width: 200%;
    }

    #highlights-container {
        justify-content: left;
    }

    .spinner-border{
        margin-top: 80%;
        margin-left: 45%;
        z-index: 99;
    }
}