@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --Astros:  #eb6e20;
  --cardinals: #be0a14;
  --guardians: #ce0d2d;
  --Mets: #ff5911;
  --Rangers: #003278;
}
#cards-container, #title,#lineup-match {
  margin-top: 10%;
  gap: 1.09em;
}
#match-card{
  min-width: 250px;
  max-width: 250px;
  min-height: 140px;
  max-height: 200px;
}
#match-card:hover {
  cursor: pointer;
  /* background: #cbc9c9; */
  box-shadow: #cbc9c9;
  border: solid 1px #cbc9c9;
}
#name-tournament{
  font-family: 'Roboto';
  font-weight: 800;
  color: rgb(12, 114, 161);
}
#div-away, #div-home, #current-inning,#no-match-found, .navbar-nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
}
/* TEAMS COLORS */
#Cardinals{
  color: var(--cardinals);
}
#pitchers-Cardinals {
  background-color: var(--cardinals);
  color: white;
  justify-content: center;
  font-size:small;
}
#Guardians{
  color: var(--guardians);
}
#pitchers-Guardians {
  background-color: var(--guardians);
  color: white;
  justify-content: center;
  font-size:small;
}
#Yankees{
  color: #132448;
}
#Orioles{
  color: #df4601;
}
#Athletics{
  color: #006241;
}
#Astros{
  color: var(--Astros);
}
#pitchers-Astros {
  background-color: var(--Astros);
  color: white;
  justify-content: center;
  font-size:small;
}
#Pirates{
  color: #ffce34;
}
#Cubs{
  color: #0d3386;
}
#Mariners{
  color: #005c5c;
}
#Phillies{
  color: #c20b31;
}
#pitchers-Philles {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small;
}
#Reds{
  color: #c6011f;
}
#pitchers-Reds {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small;
}
#Giants{
  color: #fe5a1e;
}
#pitchers-Giants {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Tigers{
  color: #0c2c56;
}
#pitchers-Tigers {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Diamondbacks{
  color: #a51e31;
}
#pitchers-Diamondbacks {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Marlins{
  color: #01a3e1;
}
#pitchers-Marlins {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small;
}
#Twins{
  color: #002b5c;
}
#pitchers-Twins {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Rays{
  color: #8fbce6;
}
#pitchers-Rays {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Angels{
  color: #ba0021;
}
#pitchers-Angels {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Braves{
  color: #bb0c2f;
}
#pitchers-Braves {
  background-color: #bb0c2f;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Royals{
  color: #004687;
}
#pitchers-Royals {
  background-color: #004687;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Rangers{
  color: var(--Rangers);
}
#pitchers-Rangers {
  background-color: var(--Rangers);
  color: white;
  justify-content: center;
  font-size:small ;
}
#Nationals{
  color: #ab0002;
}
#pitchers-Nationals {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
#Mets{
  color: var(--Mets);
}
#pitchers-Mets {
  background-color: var(--Mets);
  color: white;
  justify-content: center;
  font-size:small ;
}
#Padres{
  color: #2f241c;
}
#pitchers-Padres {
  background-color: #ab0002;
  color: white;
  justify-content: center;
  font-size:small ;
}
div[id='Red Sox']{
  color: #bd303a;
}
div[id='Blue Jays']{
  color: #134a8e;
}