@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --angels: #ba0021;
  --astros: #eb6e20;
  --athletics: #006241;
  --blue-jays: #134a8e;
  --braves: #bb0c2f;
  --brewers: #0a2351;
  --cardinals: #c41e3b;
  --cubs: #0d3386;
  --diamondbacks: #ab0002;
  --dodgers: #004680;
  --giants: #fe5a1e;
  --guardians: #ce0d2d;
  --mariners: #005c5c;
  --marlins: #01a3e1;
  --mets: #ff5911;
  --nationals: #ab0002;
  --orioles: #df4601;
  --padres: #2f241c;
  --pirates: #feb827;
  --phillies: #c20b31;
  --tigers: #0c2c56;
  --twins: #002b5c;
  --rangers: #003278;
  --rays: #082c5c;
  --reds: #c6011f;
  --redsox: #bd303a;
  --rockies: #333466;
  --royals: #004687;
  --yankees: #132448;
  --whitesox: #333;
}


#container {
  min-width: 100%;
  padding-bottom: 4rem;
}

#container-title {
  display: flex;
  flex-direction: column;
}

#main-menu {
  background-color: #6d9397;
}

#title-img {
  width: 30%;
  margin: auto;
}

#cards-container, #box-score-container {
  max-width: 130rem;
  margin: auto;
}

#match-card-schedule {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  min-width: 30rem;
  max-width: 30rem;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;

  /* padding: 14px 80px 18px 36px; */
}

#match-card-schedule:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
}

#name-tournament-schedule {
  translate: 0.5rem;
}

#button-menu,
#button-menu:focus,
#button-menu:active {
  outline: none;
  border: none;
  box-shadow: none;
}

#card-foot-schedule{
  translate: -2rem;
}

#nav-baseball, #nav-hockey, #nav-basketball, #nav-soccer{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000000ba;
}

#games-ended-title {
  font-family: Roboto, sans-serif;
  font-size: 2rem;
}

#news-container, #highlights-container{
  margin-top: 3rem;
}

#news-div, #div-highlights {
  font-family: Roboto, sans-serif;
}

#title-news, #title-highlights {
  color: inherit;
  text-decoration: none;
}

#lineups-container {
  max-width: 80%;
  margin: auto;
}

.spinner-border{
  margin-top: 20%;
  margin-left: 50%;
}

#highlights-container {
  justify-content: center;
}

#cards-container, #title, #lineup-match {
  margin-top: 5%;
  gap: 1.09em;
}


#name-tournament,
#name-tournament-schedule,
#country-tournament,
#lineup-match {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

#div-away,
#div-home,
#current-inning,
#no-match-found,
.navbar-nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
}

.away-team-name,
.home-team-name {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* OPTION MENU */

ul {
  padding-left: 0 !important;
}

#option-menu {
  display: none;
  background: #201815;
  min-width: 100%;
}

#option-menu li.active p {
  text-decoration: none;
  color: #ffff;
}

#option-menu li.active span {
  color: #ffff;
}

#menu-list {
  list-style: none;
  display: inline-block;
  max-height: 3.3rem;
}

#home-text, 
#news-text, 
#schedule-text, 
#highlights-text, 
#refresh-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  translate: 0 -0.5rem;
}

#container-menu-news, 
#container-menu-schedule, 
#container-menu-home, 
#container-menu-highlights, 
#container-menu-refresh {
  cursor: pointer;
  margin-top: 0.4rem;
  color: #ffffff9c;
}

#container-menu-news:hover, 
#container-menu-schedule:hover, 
#container-menu-home:hover, 
#container-menu-highlights:hover, 
#container-menu-refresh:hover {
  cursor: pointer;
}

/* TEAMS COLORS */
#cardinals {
  color: var(--cardinals);
}

#pitchers-cardinals,
#batters-cardinals {
  background-color: var(--cardinals);
  color: white;
  justify-content: center;
  font-size: small;
}

#guardians {
  color: var(--guardians);
}

#pitchers-guardians,
#batters-guardians {
  background-color: var(--guardians);
  color: white;
  justify-content: center;
  font-size: small;
}

#dodgers {
  color: var(--dodgers);
}

#pitchers-dodgers,
#batters-dodgers {
  background-color: var(--dodgers);
  color: white;
  justify-content: center;
  font-size: small;
}

#yankees {
  color: var(--yankees);
}

#pitchers-yankees,
#batters-yankees {
  background-color: var(--yankees);
  color: white;
  justify-content: center;
  font-size: small;
}

#orioles {
  color: var(--orioles);
}

#pitchers-orioles,
#batters-orioles {
  background-color: var(--orioles);
  color: white;
  justify-content: center;
  font-size: small;
}

#athletics {
  color: var(--athletics);
}

#pitchers-athletics,
#batters-athletics {
  background-color: var(--athletics);
  color: white;
  justify-content: center;
  font-size: small;
}

#astros {
  color: var(--astros);
}

#pitchers-astros,
#batters-astros {
  background-color: var(--astros);
  color: white;
  justify-content: center;
  font-size: small;
}

#pirates {
  color: var(--pirates);
}

#pitchers-pirates,
#batters-pirates {
  background-color: var(--pirates);
  color: white;
  justify-content: center;
}

#cubs {
  color: var(--cubs);
}

#pitchers-cubs,
#batters-cubs {
  background-color: var(--cubs);
  color: white;
  justify-content: center;
  font-size: small;
}

#mariners {
  color: var(--mariners);
}

#pitchers-mariners,
#batters-mariners {
  background-color: var(--mariners);
  color: white;
  justify-content: center;
  font-size: small;
}

#phillies {
  color: var(--phillies);
}

#pitchers-phillies,
#batters-phillies {
  background-color: var(--phillies);
  color: white;
  justify-content: center;
  font-size: small;
}

#reds {
  color: var(--reds);
}

#pitchers-reds,
#batters-reds {
  background-color: var(--reds);
  color: white;
  justify-content: center;
  font-size: small;
}

#giants {
  color: var(--giants);
}

#pitchers-giants,
#batters-giants {
  background-color: var(--giants);
  color: white;
  justify-content: center;
  font-size: small;
}

#tigers {
  color: var(--tigers);
}

#pitchers-tigers,
#batters-tigers {
  background-color: var(--tigers);
  color: white;
  justify-content: center;
  font-size: small;
}

#diamondbacks {
  color: var(--diamondbacks);
}

#pitchers-diamondbacks,
#batters-diamondbacks {
  background-color: var(--diamondbacks);
  color: white;
  justify-content: center;
  font-size: small;
}

#marlins {
  color: var(--marlins);
}

#pitchers-marlins,
#batters-marlins {
  background-color: var(--marlins);
  color: white;
  justify-content: center;
  font-size: small;
}

#twins {
  color: var(--twins);
}

#pitchers-twins,
#batters-twins {
  background-color: var(--twins);
  color: white;
  justify-content: center;
  font-size: small;
}

#rays {
  color: var(--rays);
}

#pitchers-rays,
#batters-rays {
  background-color: var(--rays);
  color: white;
  justify-content: center;
  font-size: small;
}

#rockies {
  color: var(--rockies);
}

#pitchers-rockies,
#batters-rockies {
  background-color: var(--rockies);
  color: white;
  justify-content: center;
  font-size: small;
}

#angels {
  color: var(--angels);
}

#pitchers-angels,
#batters-angels {
  background-color: var(--angels);
  color: white;
  justify-content: center;
  font-size: small;
}

#braves {
  color: var(--braves);
}

#pitchers-braves,
#batters-braves {
  background-color: var(--braves);
  color: white;
  justify-content: center;
  font-size: small;
}

#brewers {
  color: var(--brewers);
}

#pitchers-brewers,
#batters-brewers {
  background-color: var(--brewers);
  color: white;
  justify-content: center;
  font-size: small;
}

#royals {
  color: var(--royals);
}

#pitchers-royals,
#batters-royals {
  background-color: var(--royals);
  color: white;
  justify-content: center;
  font-size: small;
}

#rangers {
  color: var(--rangers);
}

#pitchers-rangers,
#batters-rangers {
  background-color: var(--rangers);
  color: white;
  justify-content: center;
  font-size: small;
}

#nationals {
  color: var(--nationals);
}

#pitchers-nationals,
#batters-nationals {
  background-color: var(--nationals);
  color: white;
  justify-content: center;
  font-size: small;
}

#mets {
  color: var(--mets);
}

#pitchers-mets,
#batters-mets {
  background-color: var(--mets);
  color: white;
  justify-content: center;
  font-size: small;
}

#padres {
  color: var(--padres);
}

#pitchers-padres,
#batters-padres {
  background-color: var(--padres);
  color: white;
  justify-content: center;
  font-size: small;
}

div[id='red sox'],td[id='red sox']  {
  color: var(--redsox);
}

div[id='pitchers-red sox'],
div[id='batters-red sox'] {
  background-color: var(--redsox);
  color: white;
  justify-content: center;
  font-size: small;
}

div[id='blue jays'], td[id='blue jays'] {
  color: var(--blue-jays);
}

div[id='pitchers-blue jays'],
div[id='batters-blue jays'] {
  background-color: var(--blue-jays);
  color: white;
  justify-content: center;
  font-size: small;
}

div[id='white sox'], td[id='white sox'] {
  color: var(--whitesox);
}

div[id='pitchers-white sox'],
div[id='batters-white sox'] {
  background-color: var(--whitesox);
  color: white;
  justify-content: center;
  font-size: small;
}