@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --Angels: #ba0021;
  --Astros: #eb6e20;
  --Athletics: #006241;
  --BlueJays: #134a8e;
  --Braves: #bb0c2f;
  --Cardinals: #c41e3b;
  --Cubs: #0d3386;
  --Diamondbacks: #ab0002;
  --Dodgers: #004680;
  --Giants: #fe5a1e;
  --Guardians: #ce0d2d;
  --Mariners: #005c5c;
  --Marlins: #01a3e1;
  --Mets: #ff5911;
  --Nationals: #ab0002;
  --Orioles: #df4601;
  --Padres: #2f241c;
  --Pirates: #feb827;
  --Phillies: #c20b31;
  --Tigers: #0c2c56;
  --Twins: #002b5c;
  --Rangers: #003278;
  --Rays: #082c5c;
  --Reds: #c6011f;
  --RedSox: #bd303a;
  --Rockies: #333466;
  --Royals: #004687;
  --Yankees: #132448;
  --WhiteSox: #333333;
}

#container {
  min-width: 70%;
}

#main-menu {
  background: #224;
}

#nav-menu {
  min-width: 100%;
  min-height: 3em;
}

#cards-container,
#title,
#lineup-match {
  margin-top: 5%;
  gap: 1.09em;
}

#match-card {
  background: #fff;
  min-width: 250px;
  max-width: 250px;
  min-height: 140px;
  max-height: 200px;
}

#match-card:hover {
  cursor: pointer;
  /* background: #cbc9c9; */
  box-shadow: #cbc9c9;
  border: solid 1px #cbc9c9;
}

#name-tournament,
#country-tournament,
#lineup-match {
  font-family: 'Roboto';
  font-weight: 800;
  color: rgb(12, 114, 161);
}

#div-away,
#div-home,
#current-inning,
#no-match-found,
.navbar-nav {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
}

.away-team-name,
.home-team-name {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#option-menu {
  font-size: 1.3rem;
}

#option-menu:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* TEAMS COLORS */
#Cardinals {
  color: var(--Cardinals);
}

#pitchers-Cardinals,
#batters-Cardinals {
  background-color: var(--Cardinals);
  color: white;
  justify-content: center;
  font-size: small;
}

#Guardians {
  color: var(--Guardians);
}

#pitchers-Guardians,
#batters-Guardians {
  background-color: var(--Guardians);
  color: white;
  justify-content: center;
  font-size: small;
}

#Dodgers {
  color: var(--Dodgers);
}

#pitchers-Dodgers,
#batters-Dodgers {
  background-color: var(--Dodgers);
  color: white;
  justify-content: center;
  font-size: small;
}

#Yankees {
  color: var(--Yankees);
}

#pitchers-Yankees,
#batters-Yankees {
  background-color: var(--Yankees);
  color: white;
  justify-content: center;
  font-size: small;
}

#Orioles {
  color: var(--Orioles);
}

#pitchers-Orioles,
#batters-Orioles {
  background-color: var(--Orioles);
  color: white;
  justify-content: center;
  font-size: small;
}

#Athletics {
  color: var(--Athletics);
}

#pitchers-Athletics,
#batters-Athletics {
  background-color: var(--Yankees);
  color: white;
  justify-content: center;
  font-size: small;
}

#Astros {
  color: var(--Astros);
}

#pitchers-Astros,
#batters-Astros {
  background-color: var(--Astros);
  color: white;
  justify-content: center;
  font-size: small;
}

#Pirates {
  color: var(--Pirates);
}

#pitchers-Pirates,
#batters-Pirates {
  background-color: var(--Pirates);
  color: white;
  justify-content: center;
}

#Cubs {
  color: var(--Cubs);
}

#pitchers-Cubs,
#batters-Cubs {
  background-color: var(--Cubs);
  color: white;
  justify-content: center;
  font-size: small;
}

#Mariners {
  color: var(--Mariners);
}

#pitchers-Mariners,
#batters-Mariners {
  background-color: var(--Mariners);
  color: white;
  justify-content: center;
  font-size: small;
}

#Phillies {
  color: var(--Phillies);
}

#pitchers-Phillies,
#batters-Phillies {
  background-color: var(--Phillies);
  color: white;
  justify-content: center;
  font-size: small;
}

#Reds {
  color: var(--Reds);
}

#pitchers-Reds,
#batters-Reds {
  background-color: var(--Reds);
  color: white;
  justify-content: center;
  font-size: small;
}

#Giants {
  color: var(--Giants);
}

#pitchers-Giants,
#batters-Giants {
  background-color: var(--Giants);
  color: white;
  justify-content: center;
  font-size: small;
}

#Tigers {
  color: var(--Tigers);
}

#pitchers-Tigers,
#batters-Tigers {
  background-color: var(--Tigers);
  color: white;
  justify-content: center;
  font-size: small;
}

#Diamondbacks {
  color: var(--Diamondbacks);
}

#pitchers-Diamondbacks,
#batters-Diamondbacks {
  background-color: var(--Diamondbacks);
  color: white;
  justify-content: center;
  font-size: small;
}

#Marlins {
  color: var(--Marlins);
}

#pitchers-Marlins,
#batters-Marlins {
  background-color: var(--Marlins);
  color: white;
  justify-content: center;
  font-size: small;
}

#Twins {
  color: var(--Twins);
}

#pitchers-Twins,
#batters-Twins {
  background-color: var(--Twins);
  color: white;
  justify-content: center;
  font-size: small;
}

#Rays {
  color: var(--Rays);
}

#pitchers-Rays,
#batters-Rays {
  background-color: var(--Rays);
  color: white;
  justify-content: center;
  font-size: small;
}

#Rockies {
  color: var(--Rockies);
}

#pitchers-Rockies,
#batters-Rockies {
  background-color: var(--Rockies);
  color: white;
  justify-content: center;
  font-size: small;
}

#Angels {
  color: var(--Angels);
}

#pitchers-Angels,
#batters-Angels {
  background-color: var(--Angels);
  color: white;
  justify-content: center;
  font-size: small;
}

#Braves {
  color: var(--Braves);
}

#pitchers-Braves,
#batters-Braves {
  background-color: var(--Braves);
  color: white;
  justify-content: center;
  font-size: small;
}

#Royals {
  color: var(--Royals);
}

#pitchers-Royals,
#batters-Royals {
  background-color: var(--Royals);
  color: white;
  justify-content: center;
  font-size: small;
}

#Rangers {
  color: var(--Rangers);
}

#pitchers-Rangers,
#batters-Rangers {
  background-color: var(--Rangers);
  color: white;
  justify-content: center;
  font-size: small;
}

#Nationals {
  color: var(--Nationals);
}

#pitchers-Nationals,
#batters-Nationals {
  background-color: var(--Nationals);
  color: white;
  justify-content: center;
  font-size: small;
}

#Mets {
  color: var(--Mets);
}

#pitchers-Mets,
#batters-Mets {
  background-color: var(--Mets);
  color: white;
  justify-content: center;
  font-size: small;
}

#Padres {
  color: var(--Padres);
}

#pitchers-Padres,
#batters-Padres {
  background-color: var(--Padres);
  color: white;
  justify-content: center;
  font-size: small;
}

div[id='Red Sox'] {
  color: var(--RedSox);
}

div[id='pitchers-Red Sox'],
div[id='batters-Red Sox'] {
  background-color: var(--RedSox);
  color: white;
  justify-content: center;
  font-size: small;
}

div[id='Blue Jays'] {
  color: var(--BlueJays);
}

div[id='pitchers-Blue Jays'],
div[id='batters-Blue Jays'] {
  background-color: var(--BlueJays);
  color: white;
  justify-content: center;
  font-size: small;
}

div[id='White Sox'] {
  color: var(--WhiteSox);
}

div[id='pitchers-White Sox'],
div[id='batters-White Sox'] {
  background-color: var(--WhiteSox);
  color: white;
  justify-content: center;
  font-size: small;
}